@model DoAn_DAPM.Models.NguoiDung
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<link rel="stylesheet" href="~/Content/css/admin.css" />
<link rel="stylesheet" href="~/Content/css/bootstrap.css" />

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","KhachHang")">Khách Hàng</a>
    </li>
    <li class="breadcrumb-item active">Thêm thông tin khách hàng</li>
</ol>
<div class="container mt-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Thông tin
    </div>
    <div class="table-responsive">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row form-group">
                    @Html.Label("Tên tài khoản", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenDangNhap, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.Label("Mật khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.Label("Họ tên", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TenNguoiDung, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TenNguoiDung, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row form-group">
                    @Html.Label("Số ĐT", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SDT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row form-group">
                    @Html.Label("Địa Chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm" class="btn btn-sm btn-info" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>
