@using DoAn_DAPM.Models
@model SanPham
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/css/style.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<div class="row section">
    <div class="offset-md-1 col-md-4 product-image">
        <figure>
            @if (Model.SanPham_Anh.Count > 0)
            {
                foreach (var anh in Model.SanPham_Anh)
                {
                    <img src="@anh.Anh" width="80%" alt="@Model.TenSP" />
                }
            }
        </figure>
    </div>
    <div class="col-md-6 thongtin">
        @{

            if (@ViewBag.eror != null)
            {
                <div class="col">
                    <div class="alert alert-danger col-lg-4" role="alert">
                        @ViewBag.eror
                    </div>
                </div>
            }
        }
        <div class="name">
            <h2>@Model.TenSP</h2>
        </div>
        <div class="mota">
            <strong>Mô tả:</strong> @Model.MoTA
        </div>
        <span class="thuonghieu1">
            <strong>Thương hiệu:</strong> @Model.ThuongHieu.TenThuongHieu
        </span>
        <br />
        <span class="thuonghieu1">
            <strong>Màu sắc:</strong> @Model.MauSac.TenMauSac
        </span>
        <br />
        <span class="thuonghieu1">
            <strong>Kích cỡ:</strong> @Model.KichCo.KichCo1
        </span>
        <br />
        <span class="soluongkho">
            <strong>Số sản phẩm trong kho:</strong> @Model.SoLuong
        </span>
        <div class="gia"><strong>Giá: </strong>&nbsp;<span class="gia-value" id="gia"> @string.Format("{0:0,0}", Model.GiaSP) </span><p style="color: red; margin-bottom: 0; font-weight:800">&nbsp;VND</p></div>
        <div>
            <div class="themgiohang">
                @if (Model.SoLuong <= 0)
                {
                    <button id="them">Hết hàng</button>
                }
                else
                {
                    <a class="btn btn-primary" href="@Url.Action("ThemSanPhamVaoGio", "GioHang", new{ MaSP = Model.MaSP })"
                       onclick="alert('Thêm vào giỏ hàng thành công!');">
                        Thêm vào giỏ hàng
                    </a>
                }
            </div>
        </div>

    </div>
</div>
<div class="tieude">
    <h1>Sản phẩm liên quan</h1>
</div>
    <div class="related-products">
        @foreach (var relatedProduct in ViewBag.RelatedProducts as List<DoAn_DAPM.Models.SanPham>)
        {
            <div class="product-related">
                @if (relatedProduct.SanPham_Anh.Any())
                {
                    var firstImage = relatedProduct.SanPham_Anh.First();
                    <a href="@Url.Action("Details", "Sanpham", new { idx = relatedProduct.MaSP })">
                        <img src="@firstImage.Anh" alt="@relatedProduct.TenSP" />
                    </a>
                }
                <p onclick="redirectToProductDetail(@relatedProduct.MaSP)">@relatedProduct.TenSP</p>
                <span>Giá: @string.Format("{0:0,0}", @relatedProduct.GiaSP) VNĐ </span>
            </div>
        }
    </div>

